<h6>Acerca de nostros.</h6>
<div class="card-group" style="width:1466px">

    <div class="card border-dark" style="width: 18rem;">
        <div class="card-body" style="background-color: #aaf0dc;">
            <h5 class="card-title">Ernesto José Cortinas Arguelles</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lider de equipo</h6>
            <p class="card-text">Encargado de la programación de la página web</p>

        </div>
    </div>


    <div class="card border-dark" style="width: 18rem;">
        <div class="card-body" style="background-color:#aaf0dc;">
            <h5 class="card-title">Edgar Omar Vazquez Marquez</h5>
            <h6 class="card-subtitle mb-2 text-muted">Mainline</h6>
            <p class="card-text">Encargado del diseño y la documentación del proyecto.</p>

        </div>
    </div>

    <div class="card border-dark " style="width: 18rem;">
        <div class="card-body" style="background-color: #aaf0dc;">
            <h5 class="card-title">Yahir De la Cruz Quintanilla</h5>
            <h6 class="card-subtitle mb-2 text-muted">Mainline</h6>
            <p class="card-text">Encargado del desarrollo de la base de datos.</p>

        </div>
    </div>

    <div class="card border-dark" style="width: 18rem;">
        <div class="card-body" style="border-color: black" style=" background-color: #aaf0dc;">
            <h5 class="card-title">Angel Alejandro Hernandez Rodriguez</h5>
            <h6 class="card-subtitle mb-2 text-muted">Mainline</h6>
            <p class="card-text">Encargado de elaborar las presentaciones del equipo.</p>

        </div>
    </div>