<div class="center-content">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Crear Cuenta
            </div>
            <form id="loginform">
                <input type="text" name="Nombre" placeholder="Nombre" required>

                <input type="text" name="Primer Apeido" placeholder="Primer Apeido" required>

                <input type="text" name="Segundo Apeido" placeholder="Segundo Apeido" required>

                <input type="text" name="Usuario" placeholder="Usuario" required>

                <input type="text" name="Correo Electronico" placeholder="Correo Electronico" required>

                <input type="password" placeholder="Contraseña" name="password" required>

                <button type="submit" title="Ingresar" name="Ingresar">Craer</button>
                <!--<button routerLink="/Iniciar_Secion" type="submit" title="Regresar" name="Ingresar">Reegresar</button>-->
                <div>
                    <hr>
                    <p>Bienvebido a DmeunHogar.mx</p>
                </div>

            </form>
        </div>
    </div>
</div>