<h1>Rutas</h1>
<div class="card-group" style="width:1466px">


    <div class="card bg-gray">
        <div class="card-header text-white" style="background-color: #393b3b;">

            <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Ruta 1</h4>
                <p class="card-text">Ruta que recorre</p>
                <a href="#" class="btn btn-primary">Registrarme </a>
            </div>
        </div>
    </div>

    <div class="card" style="width: px">

        <div class="card bg-gray">
            <div class="card-header text-white" style="background-color: #393b3b;">


                <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ruta 2</h4>
                    <p class="card-text">Ruta que recorre</p>
                    <a href="/Sesion" class="btn btn-primary">Registrarme</a>

                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: px">
        <div class="card bg-gray"></div>
        <div class="card-header text-white" style="background-color: #393b3b;">

            <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Ruta 3</h4>
                <p class="card-text">Ruta que recorre</p>
                <a href="#" class="btn btn-primary">Registrame</a>

            </div>

        </div>
    </div>
</div>

<div class="card-group" style="width:1466px">


    <div class="card bg-gray">
        <div class="card-header text-white" style="background-color: #393b3b;">

            <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Ruta 1</h4>
                <p class="card-text">Ruta que recorre</p>
                <a href="#" class="btn btn-primary">Registrarme </a>
            </div>
        </div>
    </div>

    <div class="card" style="width: px">

        <div class="card bg-gray">
            <div class="card-header text-white" style="background-color: #393b3b;">


                <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ruta 2</h4>
                    <p class="card-text">Ruta que recorre</p>
                    <a href="/Sesion" class="btn btn-primary">Registrarme</a>

                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: px">
        <div class="card bg-gray"></div>
        <div class="card-header text-white" style="background-color: #393b3b;">

            <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Ruta 3</h4>
                <p class="card-text">Ruta que recorre</p>
                <a href="#" class="btn btn-primary">Registrame</a>

            </div>

        </div>
    </div>
</div>

<div class="card-group" style="width:1466px">


    <div class="card bg-gray">
        <div class="card-header text-white" style="background-color: #393b3b;">

            <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Ruta 1</h4>
                <p class="card-text">Ruta que recorre</p>
                <a href="#" class="btn btn-primary">Registrarme </a>
            </div>
        </div>
    </div>

    <div class="card" style="width: px">

        <div class="card bg-gray">
            <div class="card-header text-white" style="background-color: #393b3b;">


                <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Ruta 2</h4>
                    <p class="card-text">Ruta que recorre</p>
                    <a href="/Sesion" class="btn btn-primary">Registrarme</a>

                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: px">
        <div class="card bg-gray"></div>
        <div class="card-header text-white" style="background-color: #393b3b;">

            <img class="card-img-bottom" src="../../../assets/logos/bus-1.ico" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Ruta 3</h4>
                <p class="card-text">Ruta que recorre</p>
                <a href="#" class="btn btn-primary">Registrame</a>

            </div>

        </div>
    </div>
</div>